<html>
<head>
  <title>Feriados</title>
  <!-- Incluye el enlace al archivo de estilos de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
  <div class="container mt-5">
    <h1>Feriados en Chile desde 2020 hasta este año</h1>

    <!-- Sección previa a la tabla, mostrar solucion en un array-->
    <div class="mb-4">
        <h2>Arreglo de Feriados</h2>
        <pre>
            [
            <%# recorre el array de feriados y separo el indice %>
            <% @feriados.each_with_index do |feriado, index| %>
            <%# recorre el array de feriados, imprime cada fecha del array entre comillas dobles, agrega una coma al final mientras no sea el ultimo indice del array %>
                "<%= feriado[:fecha] %>"<%= index == @feriados.size - 1 ? '' : ',' %>
            <% end %>
            ]
        </pre>
    </div>

    <!-- Tabla de Feriados, No fue solicitado pero quise ver como se veria en una tabla de boostrap -->
    <div class="mb-4">
        <h2>Tabla Feriados</h2>
        <table class="table">
        <thead>
            <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <%# recorre el array @feriados e imprime 2 columnas con el indice fecha y nombre por fila %>
            <% @feriados.each do |feriado| %>
            <tr>
                <td><%= feriado[:fecha] %></td>
                <td><%= feriado[:nombre] %></td>
            </tr>
            <% end %>
        </tbody>
        </table>
    </div>
  </div>

  <!-- Incluye el enlace a los scripts de Bootstrap al final del cuerpo del documento -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>